
.footer-image {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
}

/* States */

/*  show the footer's image in details page */
.footer-image.show {
  display: block;
}

/*  hide the footer's image in details page */
.footer-image.hide {
  display: none;
}

